@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --green: #27ae60;
    --darkColor: #219150;
    --black: #444;
    --lightColor: #666;
    --border: .1rem solid rgba(0,0,0,.1);
    --borderHover: .1rem solid var(var(--black));
    --boxShadow: 0 .5rem 1rem rgba(0,0,0,.1rem);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--black);
}

section{
    padding: 5rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    border-radius: .5rem;
    color: white;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}
.btn:hover{
    background: var(--darkColor);
}



.header .header1{
    background: white;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .header1 .logo i{
    color: var(--green);
}
.header .header1 .searchForm{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: white;
    display: flex; align-items: center;
    border-radius: 0.5rem;
}
.header .header1 .searchForm input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}
.header .header1 .searchForm label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .header1 .searchForm label:hover{
    color: var(--green);

}
.header .header1 .icons div,
.header .header1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .header1 .icons div:hover,
.header .header1 .icons a:hover{
    color: var(--green);
}

#searchBtn{
    display: none;
}
.header .header2{
    background: var(--green);
}
.header .header2 .navbar{
    text-align: center;
}
.header .header2 .navbar a{
    color: white;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}
.header .header2 .navbar a:hover{
    background: var(--darkColor);
}
/* for js scrollY */
.header .header2.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
body{
    height: 300rem;
}

.bottomNavbar{
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 1000;
    display: none;
}
.bottomNavbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: white;
}
.bottomNavbar a:hover{
    background: var(--darkColor);
}

.loginFormContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.9);
    position: fixed;
    top: 0; right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}
.loginFormContainer.active{
    right: 0;
}

.loginFormContainer form{
    background: white;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--boxShadow);
    border-radius: 0.5rem;
    margin: 2rem;
}

.loginFormContainer form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}
.loginFormContainer form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.loginFormContainer form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem; 
    color: var(--black);
    text-transform: none;
}
.loginFormContainer form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}
.loginFormContainer form .checkbox label{
    font-size: 1.5rem;
    color: var(--lightColor);
    cursor: pointer;
}
.loginFormContainer form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}
.loginFormContainer form p{
    padding-top: 0.8rem;
    color: var(--lightColor);
    font-size: 1.5em;
}
.loginFormContainer form p a{
    color: var(--green);
    text-decoration: underline;
}
.loginFormContainer #closeLoginBtn{
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

/* home */
.home{
    background: url(./img/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}
.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.home .row .content{
    flex: 1 1 42rem;
}
.home .row .booksSlider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}
.home .row .booksSlider a img{
    height: 25rem;
}
.home .row .booksSlider a:hover img{
    transform: scale(0.9);
}
.home .row .booksSlider .stand{
    width: 100%;
    margin-top: -2rem;
}
.home .row .content h3{
    color: var(--black);
    font-size: 4.5rem;
}
.home .row .content p{
    color: var(--lightColor);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}





.iconsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.iconsContainer .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}
.iconsContainer .icons i{
    font-size: 3.5rem;
    padding: 2rem 0;
}
.iconsContainer .icons h3{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}
.iconsContainer .icons p{
    font-size: 1.4rem;
    color: var(--lightColor);
}











































/* media queries */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header .header1{
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}

@media(max-width:768px){

    html{
        scroll-padding-top: 0;
    }
    body{
        padding-bottom: 6rem;
    }

    .header .header2{
        display: none;
    }
    .bottomNavbar{
        display: block;
    }
    #searchBtn{
        display: inline-block;
    }
    .header .header1{
        box-shadow: var(--boxShadow);
        position: relative;
    }
    .header .header1 .searchForm{
        position: absolute;
        top: -115%; right: 2rem;
        width: 90%;
        box-shadow: var(--boxShadow);
    }

    .header .header1 .searchForm.active{
        top: 115%;
    }
    .home .row .content{
        text-align: center;
    }
    .home .row .content h3{
        font-size: 3.5rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
}
